.feed-wrapper {
    max-width: 520px;
    width: 100%;
    background-color: transparent;
}

/* Responsive */
@media (max-width: 768px) {
    .feed-wrapper {
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .feed-wrapper {
        max-width: 485px;
        margin-right: 20px;
    }
}