/* Feed Content Box */
.contentSectionDesignFeed-Box {
    background-color: transparent;
    margin: 0px auto;
}


/* No Post Yet */
.errorCheckNoPost-Box {
    background-color: transparent;
    width: 100%;
    display: flex;
    padding: 10px 5px;
    justify-content: center;
}

.errorCheckNoPostWrapper-Box {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.errorCheckIconPost-Box {
    width: 64px;
    height: 64px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorCheckIconNoPost {
    background-color: transparent;
    height: 100%;
    stroke-width: 1.5;
    fill: none;
    color: #8e8e93;
    width: 100%;
}

.errorCheckTextNoPost-Box {
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    color: #8e8e93;
    font-family: 'Outfit', sans-serif;
}