.postFeedMainContent,
.postHeaderImageMainFeed,
.sidePhotoImageBox,
.sideProfilePicHeader,
.postButtonDesign,
.postBottomAction,
.iconPost,
img {
  -webkit-user-select: none;
  user-select: none;
}

.home-main-container {
  background-color: #fafafa;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  margin-top: 71px;
  display: flex;
  flex: 1;
  width: 100%;
  min-height: calc(100vh - 71px);
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}

/* Side Bar Styling */
.slide-bar-wrapper {
  position: sticky;
  top: min(85px, calc(100vh - 100% - 20px));
  align-self: flex-start;
  width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Responsive */
@media (max-width: 768px) {

  .main-wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  .slide-bar-wrapper {
    max-width: 100%;
    width: 100%;
    position: relative;
    top: 0;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-wrapper {
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }

  .slide-bar-wrapper {
    max-width: 395px;
    margin-left: 20px;
    position: relative;
  }
}