* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Disable user select */
img,
button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Main Wrapper */
.main-wrapper-post {
    background-color: #fafafa;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.middle-main-container-post {
    margin-top: 71px;
    display: flex;
    flex: 1;
    width: 100%;
    min-height: calc(100vh - 71px);
    align-items: flex-start;
    background-color: transparent;
}